/.idea
/vendor/

###> shopware/core ###
.env
.env.local
.env.local.php
.env.*.local
.env.test
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
public/asset-manifest.json
.uniqueid.txt
tests
###< shopware/core ###

###> phpunit/phpunit ###
/phpunit.xml*
.phpunit.result.cache
###< phpunit/phpunit ###
